body
{
   background-color: #707070;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#headerBreadcrumb
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 15px 0px 15px 0px;
   text-align: left;
}
#headerBreadcrumb > li
{
   display: inline-block;
   font-size: 16px;
}
#headerBreadcrumb a
{
   color: #FFFFFF;
   text-decoration: none;
}
#headerBreadcrumb a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#headerBreadcrumb > .active
{
   color: #777777;
}
#headerBreadcrumb > .active a
{
   color: inherit;
   pointer-events: none;
}
#headerBreadcrumb > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   height: 26px;
   width: 41px;
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#IconFont1:hover i
{
   color: #DB7093;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont2
{
   height: 26px;
   width: 24px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 26px;
   vertical-align: middle;
   width: 23px;
}
#IconFont2:hover i
{
   color: #DB7093;
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont3
{
   height: 26px;
   width: 25px;
}
#IconFont3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 25px;
   line-height: 26px;
   vertical-align: middle;
   width: 24px;
}
#IconFont3:hover i
{
   color: #DB7093;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont4
{
   height: 34px;
   width: 29px;
}
#IconFont4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 29px;
   line-height: 34px;
   vertical-align: middle;
   width: 28px;
}
#IconFont4:hover i
{
   color: #DB7093;
}
#PageFooter1
{
   background-color: #DB7093;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#headerPanelMenu_panel 
{
    margin-top: 65px;
}
#headerPanelMenu-footer 
{
    font-size: 12px;
    bottom: 70px !important;
}
